/*----Hero----*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../img/Edda_bg_min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.hero_text {
    text-align: center;
    color: #ffffff;
    line-height: 60px;
    font-family: Alex Brush, cursive;
    font-size: 30px;
}
.hero_text h1 {
    margin-bottom: 15px;
    font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
}
.hero_background {
    width: 100%;
    background-color: rgba(95, 95, 95, 0.5);
    max-height: -moz-fit-content;
    max-height: fit-content;
}
  
/*----End Hero----*/