@import "_parameters.scss";
@import "_mixins.scss";

/*----Header----*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: color_background();
    width: 100%;
    height: 100px;
    &_logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        & img {
            height: 100px;
        }
    }
    &_desktop_menu {
        position: relative;
        margin-right: 30px;
        & nav {
            display: flex;
        }
        &_items {
            margin-right: 30px;
        }
        &_item {
            display: flex;
            align-items: center;
            color: color_text();
            cursor: pointer;
            transition: color 0.3s ease;
            & span {
                margin-right: 10px;
                font: {
                    family: font_all();
                    size: 18px;
                }
            }
            &:hover {
                color: color_backwater();
            }
        }
        &_list {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: color_background();
            padding: 20px 15px;
            line-height: 1.2;
            
            font: {
                family: font_all();
                size: 18px;
            }
            & a {
                text-decoration: none;
                color: color_text();
                font-size: 16px;
                transition: color 0.3s ease;
                &:hover {
                    color: color_backwater();
                }
            }
        }
    }  
}

/*----End Header----*/