@import "_colors.scss";
@import "_fonts.scss";
@import "_mixins.scss";

/*----Media Queries----*/
@media screen and (max-width: 600px) {
    .main_wrapper_text {
        width: 100%;
        &_stanza, &_string {
            margin: 15px 20px;
            span {
                width: 130px;
            }
        }
    }
    .notes p {
        margin: 15px;
    } 
}
@media screen and (max-width: 935px) {
    .header_desktop_menu {
        margin-right: 0;
    }
}
@media screen and (max-width: 780px) {
    .header_desktop_menu {
        display: none;
        &_list a {
            font-size: 14px;
        }
    }
    .header_mobile_menu {
        display: block;
    }
    .header_desktop_menu_list {
        padding: 10px 15px 20px 0;
    }
}
@media screen and (min-width: 780px) {
    .header_mobile_menu_background-g, 
    .header_mobile_menu_background-b {
        display: none !important;
    }
}
/*----End Media Queries----*/